/* Importar Google Fonts - REGLA 1 */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* REGLA 3.1: Utilizar el selector universal * para cambiar el tipo de fuente del documento */
* {
  font-family: "Ubuntu", sans-serif;
}

/* REGLA 3.2: El elemento body tendrá margen 0 y relleno de 20% únicamente a la derecha y izquierda */
body {
    margin: 0;
    padding: 0 20%;
}

/* REGLA 3.3: Los elementos h1 estarán subrayados, de color darkcyan y alineados al centro */
h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/* REGLA 3.4: Los elementos con clase selector tendrán color lightcyan */
.selector {
    color: lightcyan;
}

/* REGLA 3.5: Los elementos con clase selectors tendrán un relleno de 5%, un border: solid darkcyan 1px y esquinas redondeadas con valor de 5px */
.selectors {
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

/* REGLA 3.6: Los elementos con identificador (id) universal tendrán color lightgoldenrodyellow */
#universal {
    color: lightgoldenrodyellow;
}

/* REGLA 3.7: Los elementos h2 con clase selector y los elementos h2 con identificador (id) universal tendrán color de fondo darkcyan, relleno de 1% y esquinas redondeadas con valor de 5px */
h2.selector,
h2#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}

/* REGLA 3.8: Los elementos span tendrán font-weight: 900, color de fondo negro y color de texto blanco */
span {
    font-weight: 900;
    background-color: black;
    color: white;
}

/* REGLA 3.9: Los elementos a que sean hijos directos de algún li tendrán text-decoration: none */
li > a {
    text-decoration: none;
}

/* REGLA 3.10: Los elementos h3 tendrán color de fondo background-color: rgba(0, 139, 139, 0.529), relleno de 0.5px y esquinas redondeadas con valor de 5px */
h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}

/* REGLA 3.11: Los elementos div que sean descendientes de un elemento con id gallery tendrán un ancho width de 100% */
#gallery div {
    width: 100%;
}

/* REGLA 3.12: Los elementos img tendrán un ancho width de 100%, un border: solid darkcyan 1px y esquinas redondeadas con valor de 5px */
img {
    width: 100%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 2px solid #999;
}


table thead {
    background-color: #dcdcdc;
    color: #000;
}

table th {
    padding: 15px 20px;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
    border: 1px solid #ccc;
}

table td {
    padding: 15px 20px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 1em;
}
